
<% flash.each do |name, msg| -%>
  <%= content_tag :div, msg, class: name %>
<% end -%>

<h3>User Registration</h3>
<form action='/users/create' method='post' class="form-horizontal" role="form">
<%= hidden_field_tag :authenticity_token, form_authenticity_token %>

<div class="form-group">
	<label class="control-label col-sm-2" for="first_name">First Name:</label>
	<div class="col-sm-6"> 
	  <input type="text" name="user[first_name]" class="form-control" id="first_name" placeholder="">
	</div>
</div>

<div class="form-group">
    <label class="control-label col-sm-2" for="last_name">Last Name:</label>
    <div class="col-sm-6"> 
      <input type="text" name="user[last_name]" class="form-control" id="last_name" placeholder="">
    </div>
  </div>

<div class="form-group">
    <label class="control-label col-sm-2" for="username">Username:</label>
    <div class="col-sm-6"> 
      <input type="text" name="user[username]" class="form-control" id="username" placeholder="">
    </div>
  </div>

<div class="form-group">
    <label class="control-label col-sm-2" for="email">Email:</label>
    <div class="col-sm-6"> 
      <input type="email" name="user[email]" class="form-control" id="email" placeholder="user@site.com">
    </div>
  </div>

<div class="form-group">
    <label class="control-label col-sm-2" for="password">Password:</label>
    <div class="col-sm-6"> 
      <input type="password" name="user[password]" class="form-control" id="password" placeholder="">
    </div>
  </div>

<div class="form-group">
    <label class="control-label col-sm-2" for="password_confirmation">Confirm Password:</label>
    <div class="col-sm-6"> 
      <input type="password" name="user[password_confirmation]" class="form-control" id="password_confirmation" placeholder="">
    </div>
  </div>



<div class="form-group"> 
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-default">Register!</button>
    </div>
  </div>
</form>