<h1>All game categories</h1>
<h3>Alphabetical</h3>

<% letter = '' %>
<% @categories.each do |category| %>
	<% if category.name[0] != letter %>
		<% letter = category.name[0] %>
		<h3><%= letter.upcase %></h3>
	<% end %>
	<p><a href='/categories/<%= category.name %>' alt='games that have <%= category.name %>'><%= category.name %></a></p>
<% end %>